.class-section {
  width: 100%;
  padding: 50px ;
  display: flex;
  justify-content: center;
}

.class-card {
  background: #ffffff60;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 1600px;
  margin-bottom: 100px; 
}

.class-card h2 {
  font-size: 28px;
  color: #00337f;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.class-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.class-item {
  background: white;
  border-left: 5px solid #4f46e5;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 13px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: left;
  line-height: 1.3;
  transition: transform 0.2s ease;
}

.class-item:hover {
  transform: translateY(-4px);
}

.class-item h3 {
  color: #00337f;
  font-size: 15px;
  margin-bottom: 4px;
}

.class-item hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 5px 0;
}

.section-tag {
  display: inline-block;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: #475fcc;
  color: white;
  font-size: 12px;
  margin-bottom: 6px;
}

/* Responsive */
@media (max-width: 1200px) {
  .class-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .class-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .class-list {
    grid-template-columns: 1fr;
  }
}

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 20px auto 30px auto;
  display: block;
  outline: none;
  transition: 0.2s ease;
}

.search-bar:focus {
  border-color: #00337f;
  box-shadow: 0 0 5px rgba(0, 51, 127, 0.2);
}
