.footer {
  background-color: #2f2f61;
  color: #cbd5e1;
  text-align: center;
  padding: 4px 12px;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  user-select: none;
}

.footer p {
  margin: 4px 0;
}
